.about-banner {
	position: relative;
	padding: 16px;
	height: 223px;
	width: 100%;
	background-image: url("../utils/assets/about-banner-S.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: var(--bd-radius-1);
	-webkit-border-radius: var(--bd-radius-1);
	-moz-border-radius: var(--bd-radius-1);
	-ms-border-radius: var(--bd-radius-1);
	-o-border-radius: var(--bd-radius-1);
	margin-bottom: 20px;
}

@media (min-width: 481px) {
	.about-banner {
		margin-bottom: 40px;
		border-radius: var(--bd-radius-2);
		-webkit-border-radius: var(--bd-radius-2);
		-moz-border-radius: var(--bd-radius-2);
		-ms-border-radius: var(--bd-radius-2);
		-o-border-radius: var(--bd-radius-2);
		background-image: url("../utils/assets/about-banner-M.png");
	}
}
