.banner {
	position: relative;
	align-items: center;
	padding: 16px;
	height: 110px;
	background-image: url("../utils/assets/background-S.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: var(--bd-radius-1);
	-webkit-border-radius: var(--bd-radius-1);
	-moz-border-radius: var(--bd-radius-1);
	-ms-border-radius: var(--bd-radius-1);
	-o-border-radius: var(--bd-radius-1);
	margin-bottom: 20px;
}

.about-banner {
	height: 223px;
	width: 100%;
	background-image: url("../utils/assets/about-banner-S.png");
}

.banner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: var(--bd-radius-1);
	-webkit-border-radius: var(--bd-radius-1);
	-moz-border-radius: var(--bd-radius-1);
	-ms-border-radius: var(--bd-radius-1);
	-o-border-radius: var(--bd-radius-1);
}

.banner-title {
	z-index: 100;
	width: 14ch;
	font-size: var(--fs-24);
	font-weight: var(--fw-500);
	color: white;
}

@media (min-width: 481px) {
	.banner {
		justify-content: center;
		height: 223px;
		margin-bottom: 40px;
		background-image: url("../utils/assets/background-M.png");
		border-radius: var(--bd-radius-2);
		-webkit-border-radius: var(--bd-radius-2);
		-moz-border-radius: var(--bd-radius-2);
		-ms-border-radius: var(--bd-radius-2);
		-o-border-radius: var(--bd-radius-2);
	}

	.about-banner {
		margin-bottom: 40px;
		background-image: url("../utils/assets/about-banner-M.png");
	}

	.banner-overlay {
		border-radius: var(--bd-radius-2);
		-webkit-border-radius: var(--bd-radius-2);
		-moz-border-radius: var(--bd-radius-2);
		-ms-border-radius: var(--bd-radius-2);
		-o-border-radius: var(--bd-radius-2);
	}

	.banner-title {
		width: 100%;
		text-align: center;
		font-size: var(--fs-48);
	}
}
