.tag-wrapper {
	gap: 10px;
	flex-wrap: wrap;
}

.tag {
	min-width: 84px;
	min-height:18px;
	padding-inline:15px;
	font-size: var(--fs-10);
	border-radius: var(--bd-radius-0);
	-webkit-border-radius: var(--bd-radius-0);
	-moz-border-radius: var(--bd-radius-0);
	-ms-border-radius: var(--bd-radius-0);
	-o-border-radius: var(--bd-radius-0);
	color: white;
	background-color: var(--clr-primary);
}

@media (min-width: 481px) {
	.tag {
        min-width:115px;
        height:25px;
        font-size: var(--fs-14);
        border-radius: var(--bd-radius-1) ;
        -webkit-border-radius: var(--bd-radius-1) ;
        -moz-border-radius: var(--bd-radius-1) ;
        -ms-border-radius: var(--bd-radius-1) ;
        -o-border-radius: var(--bd-radius-1) ;
}
}
